footer{
    width: 100%;
    min-height: 500px;


    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;



    background-color: var(--info-05);
    box-shadow: 
        0 -3px 6px -2px rgba(0, 0, 0, 0.8),
        0 -3px 20px -2px var(--secondary-25);
    backdrop-filter: blur(15px);
}

.footer1__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.footer__logo{
    width: 200px;
    height: auto;
}

.footer__nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 4rem;
    
}

.footer__reseauContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}
.footer__reseau{
    width: 50px;
    aspect-ratio: 1/1;
    
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 250ms ease-in-out, background 250ms ease-in-out;
}
.footer__reseau:hover, .footer__reseau:hover{
    border: var(--secondary-45) 3px solid;
    background-color: hsla(269,100%,15%,20%);
}

.footer2__container{
    height: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

@media (max-width: 769px){

    .footer__nav{
        margin-left: 0;
    }
}
@media (max-width: 610px){

    .footer1__container{
        flex-direction: column;
        gap: 3rem;
    }
}