{% extends 'base.html.twig' %}

{% block title %}New Technologies{% endblock %}

{% block body %}
    <h1>Create new Technologies</h1>

    {{ include('admin/technologies/_form.html.twig') }}

    <a href="{{ path('app_admin_technologies_index') }}">back to list</a>
{% endblock %}
