.mesProjets{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    gap:4rem;

    min-height: 100vh;
    padding-top: 100px;
}

.mesProjets h1{
    text-align: center;
}


