name: deploy fullJamDev
on:
  push:
    branches: [master]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.APP__HOST }}
          username: ${{ secrets.APP__USER }}
          password: ${{ secrets.APP__SECRET }}
          port: ${{ secrets.PORT }}
          script: |
            cd ../home/user/web/fulljamdev.fr/public_html/FullJamDev && git pull && cd Front && npm install && npm build